[KDaemon]
;
; 0 - telnet server
; 1 - ssh server
use_ssh						=1
port						=2222

; ip address for multi homed machines
; ex: 127.0.0.1
ip						=""

service_name				=KpyM SSH Server
service_info				=Free open source TELNET-SSH server for Windows.

;
; trace level
; 0 - full trace
; 10 - normal trace
; 100 - no trace
;
trace_level					=0
log_file					="C:\Users\Peter\Documents\Temp\kts\kdaemon-log.txt"
trace_file					="C:\Users\Peter\Documents\Temp\kts\kdaemon-trace.txt"
error_file					="C:\Users\Peter\Documents\Temp\kts\kts-daemon.?pid.err"

max_sessions				=	255


[KSession]
;
; ssh algo lists:
;
; kex_algo_list = key exchange algorithms
; encr_algo_list = encription algorithms
; mac_algo_list = mac algorithms
;
; don't mess with these unless you have a good reason!
;
kex_algo_list	= "diffie-hellman-group-exchange-sha1,diffie-hellman-group1-sha1"
encr_algo_list	= "3des-cbc,blowfish-cbc,cast128-cbc,idea-cbc,arcfour"
mac_algo_list	= "hmac-sha1,hmac-md5"

;
; 0 - pf not allowed
; 1 - pf allowed
;
; this is configured via access to the file "subsystems\port-forward.exe"
allow_port_forwarding			=0

;
; max active port forward channels
max_portforward_channels = 0

;
; 0 - sftp not allowed
; 1 - sftp allowed
;
; this is configured via access to the file "subsystems\file-transfer.exe"
allow_sftp			=1

;
; sftp root folder
;
sftp_root = "%HOMEDRIVE%%HOMEPATH%"

;
; sftp init script
;
;sftp_init = "%COMSPEC% /C "scripts\sftp_init.bat""
;sftp_init = "C:\Users\Peter\Documents\Temp\kts\sftp_init.bat"
sftp_init = ""

;
; 0 - kill disconnected sessions
; 1 - allow disconnected sessions
;
allow_disconnected_sessions	=1

;
; 0 - do not reconnect to disconnected session
; 1 - reconnect to disconnected session
;
auto_reconnect_session = 1

;
; 0 - do not create new RSA key if key file is not found (failed connections)
; 1 - automatically create new RSA key file if it is not found
;
auto_create_rsa_key = 1

;
; 0 - normal mode
; 1 - pipe mode / this is suitable for script automation
; but will work for some command only
;
pipe_mode = 0

rsakey_file					="C:\Users\Peter\Documents\Temp\kts\rsakey.ky"
key_init					="C:\Users\Peter\Documents\Temp\kts\utf-8.ini"
;telnet_init					="C:\Users\Peter\Documents\Temp\kts\telnet.ini"
telnet_init					=""
;auto_logon_init				="C:\Users\Peter\Documents\Temp\kts\auto_logon.ini"
auto_logon_init					=""
publickey_logon_init				="C:\Users\Peter\Documents\Temp\kts\authorized_keys.ini"
active_sessions_dir				="C:\Users\Peter\Documents\Temp\kts"
subsystems_dir					=""

;
; ip ban module
; set ban_max_connections = 0 to turn of
;
ban_max_connections			=0
ban_ip_directory			="C:\Users\Peter\Documents\Temp\kts"

welcome_message				="\n ================================================================\n  KpyM TELNET/SSH Server v%KTS_VERSION%\n  http://www.kpym.com/\n  Copyright (c) 2002-2011, Kroum Grigorov\n  All rights reserved.\n ================================================================\n\n"

; login_message can be customized for telnet sessions only
login_message			=	"\nlogin: "
pass_message			=	"\npassword: "
pass_timeout_message		=	"\npassword timeout"
idle_timeout_message		=	"\nidle timeout"
service_stopped_message		=	"\nservice stopped"
login_successfull_message	=	"\n\n"
shell_dead_message		=	"\nlogout\n"

;
; ACLs are managed via access to the files "subsystems\file-transfer.allow" "subsystems\terminal.allow" and "subsystems\port-forward.allow"
;
; to allow only the user "kpym" to connect KTS
; change "allowed_login_list" param to:
; allowed_login_list = ":kpym:"
; note we use : on both sides of "kpym"
;
;allowed_login_list			=	""
;forbidden_login_list		=	""
; this is configured via access to the files "subsystems\file-transfer.exe" "subsystems\terminal.exe" and "subsystems\port-forward.exe"

shell_command				=	"%ComSpec% /K cd %USERPROFILE%"
default_user				=	""
default_pass				=	""
default_domain				=	""

;
; trace level
; 0 - full trace
; 10 - normal trace
; 100 - no trace
;
trace_level					=0
log_file					="C:\Users\Peter\Documents\Temp\kts\ksession-log.txt"
trace_file					="C:\Users\Peter\Documents\Temp\kts\ksession-trace.txt"
error_file					="C:\Users\Peter\Documents\Temp\kts\kts-sess.?pid.err"

pass_timeout				=	30
idle_timeout				=	300
io_timeout				=	30
max_login_attempts			=	3

net_check_delay				=	300

refresh_delay				=	100
health_monitor_timeout                  =	1000

; wait for first packet to determin subsystem type
; we need this hack for filezilla mostly
first_packet_timeout	          	=	500

screen_width				=	80
screen_height				=	24
buff_height				=	300

dumb_client				=	1



[KKey]
;
; delay between sent keys in ms
;
send_key_delay					=	1

;
; delay between SAME keys sent one after other in ms
; increase this one if you have problems (ex you type 12334 -> but get 1234 )
;
send_same_key_delay				=	50
